        
          div
           {
              background-color: lightgray;
              width: 400px;
              margin: auto auto;
              padding: 20px;
           }
           input
           {
            /*margin: auto;*/
             border: 0px;
             
             /*align: center;*/
           }
          /* table div{
               width: 50%;
               margin: auto auto;
           }*/
          
           form input[type="text"]{
               border: 2px solid red;
           }      
           form{
               text-align: center;
           }
           
            h1 {
             text-align: center;
            }
            
            table{
                border: 4px solid black;
                border-collapse: collapse;
                margin: auto auto;
                background-color: white;

                    
            }
            td{
                border: 2px solid black; 
                align-self:  center;
            }
          